:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --primary_85-color: rgba(0, 0, 0, 0.85);
  --gray-color: #848388;
  --neutral-1-color: #ffffff;
  --neutral-4-color: #f0f0f0;
  --neutral-5-color: #d9d9d9;
  --background-color: #f7f5f8;
  --orange-color: #faad14;

  --placeholder-input-color: #707176;
  --price-color: rgba(0, 0, 0, 0.45);
  --revision-color: #f9f1e6;
}
