:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --primary_85-color: rgba(0, 0, 0, 0.85);
  --primary_25-color: rgba(0, 0, 0, 0.25);
  --gray-color: #848388;
  --neutral-1-color: #ffffff;
  --neutral-3-color: #f3f3f3;
  --neutral-4-color: #f0f0f0;
  --neutral-5-color: #d9d9d9;
  --neutral-6-color: #5a5a5a;
  --background-color: #f7f5f8;
  --orange-color: #faad14;
  --orange-2-color: #ffa940;
  --black-color: #000000;
  --default-color: #1e1e1e;
  --required-color: #ec221f;
  --danger-1-color: #fee9e7;
  --danger-2-color: #fcb3ad;
  --danger-3-color: #c00f0c;

  --dust-red-1: #fff1f0;
  --dust-red-2: #ffccc7;
  --polar-green-1: #f6ffed;
  --polar-green-3: #b7eb8f;

  --filter_neutral-5-color: invert(92%) sepia(0%) saturate(0%)
    hue-rotate(163deg) brightness(89%) contrast(110%);
  --filter-accent-color: invert(48%) sepia(48%) saturate(4694%)
    hue-rotate(191deg) brightness(101%) contrast(101%);

  --accent-color: #1890ff;
  --placeholder-input-color: #707176;
  --background-input-color: #f6f6f8;
  --background-options-color: #f4f4f6;
  /* edit name for down color (use in price and details specs) */
  --price-color: rgba(0, 0, 0, 0.45);
  /* edit name for down color (use in revision and edit button) */
  --revision-color: #f9f1e6;
  --tumbler-color: rgba(0, 35, 11, 0.2);

  --shadow-1: 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-2: 0 6px 16px 0px rgba(0, 0, 0, 0.08);
  --shadow-3: 0 3px 6px -4px rgba(0, 0, 0, 0.12);
  --shadow-focus: 0 0 0 2px rgba(24, 144, 255, 0.1);
  --ai-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
