:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --primary_85-color: rgba(0, 0, 0, 0.85);
  --gray-color: #848388;
  --neutral-1-color: #ffffff;
  --neutral-4-color: #f0f0f0;
  --neutral-5-color: #d9d9d9;
  --background-color: #f7f5f8;
  --orange-color: #faad14;
  --black-color: #000000;

  --accent-color: #1890ff;
  --placeholder-input-color: #707176;
  --background-input-color: #f6f6f8;
  --background-options-color: #f4f4f6;
  --price-color: rgba(0, 0, 0, 0.45);
  --revision-color: #f9f1e6;
  --tumbler-color: rgba(0, 35, 11, 0.2);
}
