@import "./reset.css";
@import "./global.css";

body {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--primary_85-color);
  padding: 12px 32px;
  font-family: var(--font-family-roboto);
  overflow-x: hidden;
}
