.help-btn {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--cream-color);
  color: var(--orange-2-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
}

.img--loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
