.button {
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.btn-primary-color {
  background-color: var(--accent-color);
  color: var(--neutral-3-color);
}

.btn-default-color {
  background-color: var(--neutral-5-color);
  color: var(--neutral-6-color);
}

.btn--close {
  background-color: var(--neutral-1-color);
  color: var(--primary-85-color);
  border: 1px solid var(--neutral-5-color);
}

.btn--error.btn--error {
  background-color: var(--danger-2-color);
  color: var(--primary-85-color);
  border: 1px solid var(--neutral-5-color);
}

.button:disabled {
  background-color: var(--neutral-5-color) !important;
  color: var(--neutral-3-color) !important;
  cursor: not-allowed;
}
