.ads-details__revision {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px 16px;
  background-color: var(--cream-color);
  border: 0;
  border-radius: 8px;
  box-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3);
  width: 512px;
}

.ads-details__revision img {
  width: 18px;
  height: 18px;
}
