.title__wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title__required {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.title__wrap::after {
  margin-top: 10px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--neutral-4-color);
}
