.select__wrap {
  position: relative;
}

.select__wrap select {
  width: 100%;
  max-height: 32px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--neutral-1-color);
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.select__wrap .primary-color {
  color: var(--primary_85-color);
}

.select__wrap .default-color {
  color: var(--default-color);
}

.select--empty {
  border: 1px solid var(--orange-2-color);
}

.select--not-empty {
  border: 1px solid var(--neutral-5-color);
}

.select__wrap select option[value=""] {
  color: var(--primary_25-color);
  font-style: normal;
}

.select__wrap .default-color option:not([value=""]) {
  color: var(--default-color);
}

.select__wrap .default-color:has(option[value=""]:checked) {
  color: var(--primary_25-color);
}

.select__wrap
  .default-color:has(option[value=""]:checked):has(
    option:checked:not([value=""])
  ) {
  color: var(--default-color);
}

.select-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.1s ease;
}

.select-arrow--open {
  transform: translateY(-50%) rotate(180deg);
}
