.edit-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* edit for every attr */
/* .edit-form span {
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
} */

.edit-form__actions {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
