.ad-card {
  background-color: var(--neutral-1-color);
  border: 1px solid var(--neutral-4-color);
  border-radius: 16px;
  gap: 0;
  display: flex;
  flex-direction: column;
}

.ad-card--grid {
  max-width: 200px;
  height: 100%;
  min-height: 268px;
}

.ad-card--list {
  width: 100%;
  max-height: 132px;
  display: flex;
  flex-direction: row;
}

.ad-card__cover {
  display: block;
  object-fit: cover;
  border-radius: 16px;
  border: 0;
}

.ad-card__cover-grid {
  width: 100%;
}

.ad-card__cover-list {
  height: 100%;
}

.ad-card__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  position: relative;
  flex: 1;
}

.ad-card__content--grid {
  margin: 0 16px 16px;
  padding-top: 22px;
}

.ad-card__content--list {
  margin: 16px 24px;
}

.ad-card__title {
  font-weight: 400;
  line-height: 24px;
  color: var(--black-color);
  flex-wrap: wrap;
}

.ad-card__price {
  font-weight: 600;
  line-height: 140%;
  color: var(--primary-45-color);
  flex-wrap: wrap;
}

.ad-card__category--grid {
  background-color: var(--neutral-1-color);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 0 12px;
  border: 1px solid var(--neutral-5-color);
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
}

.ad-card__category--list {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  border: 0;
  font-family: var(--font-family-inter);
  color: var(--gray-color);
  font-size: 14px;
  line-height: 100%;
}

.ad-card__revision {
  margin-top: auto;
  background-color: var(--cream-color);
  padding: 2px 8px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
  width: fit-content;
}

.ad-card__revision li {
  color: var(--orange-color);
  list-style: none;
  display: flex;
  gap: 8px;
}

.ad-card__revision li::before {
  content: "•";
  color: var(--orange-color);
  font-size: 17px;
  display: inline-block;
}
