.ads-details__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 360px;
}

.ads-details__cover {
  display: block;
  object-fit: cover;
  border: 0;
  width: 480px;
  height: 100%;
}

.ads-details__card {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
